<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cuisine-Restaurants</title>
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="/Content/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container brighttext">
      <h3>Restaurants:</h3>
      @foreach(var restaurant in Model)
      {
        <li>@restaurant.GetName()</li> <!--Implement Update/Delete Buttons here-->
      }
    </div>
    @Html.Partial("footer.cshtml")
  </body>
</html>
